In [1]:
import numpy as np

In [2]:
my_list1 = [1,2,3,4]

In [4]:
#passing the list as an object to make an array

my_array1 = np.array(my_list1)
my_array1

array([1, 2, 3, 4])

In [5]:
my_list2 = [11,22,33,44]

In [7]:
my_lists = [my_list1, my_list2]
my_lists

[[1, 2, 3, 4], [11, 22, 33, 44]]

In [8]:
my_array2 = np.array(my_lists)
my_array2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [9]:
# see the shape of the array

my_array2.shape

(2, 4)

In [10]:
my_array2.dtype

dtype('int32')

In [11]:
# special case arrays-  if you want arrays of all zeros
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [15]:
my_zeros_array = np.zeros(5)
my_zeros_array.dtype

dtype('float64')

In [16]:
my_zeros_array

array([0., 0., 0., 0., 0.])

In [17]:
# array of all ones
np.ones([5,5])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [18]:
# empty is same as zero
np.empty(5)

array([0., 0., 0., 0., 0.])

In [19]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [23]:
#np.arange - 1st number indicates where to start, 2nd number indicates where to stop, 3rd number indicates the interval between each number
np.arange(5)

array([0, 1, 2, 3, 4])

In [21]:
np.arange(5,50)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [22]:
np.arange(5,50,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])