In [1]:
import numpy as np
from pandas import Series, DataFrame

import pandas as pd

In [2]:
my_ser = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [4]:
my_index[2]

'C'

In [5]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [6]:
my_index[0]

'A'

In [7]:
#cannot change index like this, will need to re-index
my_index[0] = "Z"

TypeError: Index does not support mutable operations

# RE-INDEX

In [8]:
from numpy.random import randn

In [10]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [12]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [14]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [15]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [16]:
ranger = range(15)
ranger

range(0, 15)

In [17]:
# ffill means forward fill, it will fill all nulls until it reaches next index value, normally
#1-4 would have been NaN, 6-9  would have been null and 11-14 would have been NaN
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], 
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.135848 -0.714623 -0.327412 -1.665036  1.292855
B  1.241271 -0.039334 -0.616035 -0.634242 -0.640715
D -0.924643  0.727638 -1.490263  0.363505 -0.927115
E  1.332712 -0.355752  1.607828  1.074660 -0.148467
F  0.782544  0.909598  0.971613  0.418407  1.172163

In [19]:
dframe2 = dframe.reindex(['A', 'B','C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -0.135848 -0.714623 -0.327412 -1.665036  1.292855
B  1.241271 -0.039334 -0.616035 -0.634242 -0.640715
C       NaN       NaN       NaN       NaN       NaN
D -0.924643  0.727638 -1.490263  0.363505 -0.927115
E  1.332712 -0.355752  1.607828  1.074660 -0.148467
F  0.782544  0.909598  0.971613  0.418407  1.172163

In [20]:
new_columns = ['col1', 'col2','col3', 'col4', 'col5', 'col6']

In [21]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.135848 -0.714623 -0.327412 -1.665036  1.292855   NaN
B  1.241271 -0.039334 -0.616035 -0.634242 -0.640715   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.924643  0.727638 -1.490263  0.363505 -0.927115   NaN
E  1.332712 -0.355752  1.607828  1.074660 -0.148467   NaN
F  0.782544  0.909598  0.971613  0.418407  1.172163   NaN