In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser=Series(randn(6), index=[[1,1,1,2,2,2],['a','b','c', 'a', 'b', 'c']])
ser

1  a    1.119237
   b    0.018661
   c    0.567272
2  a   -1.205754
   b    2.340406
   c    0.015715
dtype: float64

In [3]:
#shows multiple index
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [4]:
ser[2]

a   -1.205754
b    2.340406
c    0.015715
dtype: float64

In [5]:
ser[1]

a    1.119237
b    0.018661
c    0.567272
dtype: float64

In [7]:
#retrieves value for index 1 and index a
ser[1,'a']

1.1192365440574938

In [9]:
#retrieves values for all index and index a
ser[:,'a']

1    1.119237
2   -1.205754
dtype: float64

In [11]:
#lower index will be columns, higher index will be rows
dframe = ser.unstack()
dframe

          a         b         c
1  1.119237  0.018661  0.567272
2 -1.205754  2.340406  0.015715

In [2]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [3]:
#naming index levels

dframe2.index.names = ['INDEX_1', 'INDEX_2']

dframe2.columns.names = ['Cities', 'Temp']

dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [4]:
#interchange level orders

dframe2.swaplevel('Cities', 'Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [7]:
#level indicates which index to sort.  0=INDEX_1, 1=INDEX_2

dframe2.sort_index(level=1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [8]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27