In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
arr1 = np.arange(9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
#concatenate in numpy along the columns
np.concatenate([arr1,arr1], axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [5]:
#concatenate in numpy along the rows
np.concatenate([arr1,arr1], axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
ser1 = Series([0,1,2], index=['T','U','V'])

ser2 = Series([3,4], index=['X','Y'])

In [7]:
ser1

T    0
U    1
V    2
dtype: int64

In [8]:
ser2

X    3
Y    4
dtype: int64

In [9]:
#concatenate in pandas
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [10]:
pd.concat([ser1,ser2], axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [11]:
#adding markers or keys using index hierarchy so that you remember which is which
pd.concat([ser1,ser2], keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [14]:
#exercise
dframe1 = DataFrame(np.random.randn(4,3), columns=['X','Y','Z'])

dframe2 = DataFrame(np.random.randn(3,3), columns=['Y','Q','X'])

In [15]:
dframe1

          X         Y         Z
0 -2.614957 -0.112190  0.465865
1  1.946227 -0.111524 -0.583629
2 -1.408433  0.362987  0.562726
3 -0.540286 -1.197339 -0.740533

In [16]:
dframe2

          Y         Q         X
0  0.977449 -0.294234 -2.416439
1  0.082699  1.473650  0.502015
2 -0.016697  0.191115 -0.558512

In [17]:
pd.concat([dframe1,dframe2])

          X         Y         Z         Q
0 -2.614957 -0.112190  0.465865       NaN
1  1.946227 -0.111524 -0.583629       NaN
2 -1.408433  0.362987  0.562726       NaN
3 -0.540286 -1.197339 -0.740533       NaN
0 -2.416439  0.977449       NaN -0.294234
1  0.502015  0.082699       NaN  1.473650
2 -0.558512 -0.016697       NaN  0.191115

In [18]:
# making index continuous
pd.concat([dframe1,dframe2], ignore_index=True)

          X         Y         Z         Q
0 -2.614957 -0.112190  0.465865       NaN
1  1.946227 -0.111524 -0.583629       NaN
2 -1.408433  0.362987  0.562726       NaN
3 -0.540286 -1.197339 -0.740533       NaN
4 -2.416439  0.977449       NaN -0.294234
5  0.502015  0.082699       NaN  1.473650
6 -0.558512 -0.016697       NaN  0.191115

In [20]:
import webbrowser
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.tools.merge.concat.html'

webbrowser.open(website)

True